
body
{
    max-width: 1200px;
    font-family: sans-serif;
}
main
{
    width: 80%;
    margin: auto;
}
.navbar
{
    text-align: center;
    background-color: rgba(243, 115, 115, 0.438);
    width: 75%;
    line-height: 2.5em;
    display: flex;
    align-content: space-around;
    border-radius: 1em;


}
a
{
    height: 100%;
    width: 25%;
    color: black;
    text-decoration: none;
}
a:hover
{
    
    background-color: rgba(255, 140, 0, 0.315);
}
